﻿@{
    ViewData["Title"] = "About";
}

<div class="row">
    <div class="col-md-4">
        <h2>Context</h2>
        <p><strong>Strava</strong> is the #1 app for runners and cyclists, but it also supports swimming. With it you can record your activities using their mobile app or any other compatible app or device.</p>
    </div>
    <div class="col-md-4">
        <h2>Problem</h2>
        <p><strong>Strava</strong> offers athletes the possibility to keep track of all their activities, like running, swimming and cycling, whether they are regular workouts, commutes or races, and does provide an insight of performance during time. But what Strava does not provide is the ability to predict how this performance will influence the results of a race.</p>
    </div>
    <div class="col-md-4">
        <h2>Solution</h2>
        <p>Strive: To make great efforts to achieve or obtain</p>
        <p><strong>Strive4Tri</strong> (strive for triathlon) comes to the rescue by predicting how your training records should boot your performance in a race.</p>
        <p>
            No matters whether you are a <strong>runner</strong> and are aiming to rock the Boston Marathon or just preparing for your first 5K charity race, or a <strong>cyclist</strong> training to survive your first Grand Fondo or conquer the Alpe D’Huez. Or maybe a <strong>swimmer</strong> or a <strong>triathlete</strong>? Strive4Tri is aimed just for you.
        </p>
    </div>
</div>
<div class="starter-template text-center">
    <h1>Leaving all the "marketing" behind...</h1>
    <p class="lead">The true story is, this app was built as a code test for Symbio.</p>
</div>
