﻿@{
    ViewData["Title"] = "Contact";
}

<div class="row mb-2">
    <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary">Details</strong>
                <p class="card-text mb-auto">
                    <strong>Name:</strong> Vladimir Urbano<br />
                    <strong>Phone number:</strong> +56 9 8595 0200<br />
                    <strong>Email:</strong> <a href="mailto:vladimirnul@gmail.com">vladimirnul@gmail.com</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-success">Address</strong>
                <p class="card-text mb-auto">
                    Nueva Príncipe de Gales 50, 508<br />
                    7860374 La Reina<br />
                    Chile
                </p>
            </div>
        </div>
    </div>
</div>
