﻿
@{
    ViewData["Title"] = "Help";
}

<div class="starter-template text-center">
    <p class="lead">"Just when we think we have all the answers, they change all the questions"</p>
</div>
<div class="blog-post">
    <h2 class="blog-post-title">How it works</h2>
    <p>You need to authorize the app to work with Strava, you just need to do this once. <strong>Or</strong> you can use the test data to play around.</p>
    <p>Once authorized, you just need to wait and the results will show up, you don't need to choose anything, <strong>Strive4Tri</strong> will see which sports you have been practicing the last days and show the best results.</p>
    <p>Enjoy!</p>
</div>