﻿<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light strive-banner">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Ready to strive</h1>
        <p class="lead font-weight-normal">Check the "about" and "help" sections to begin with, or jump direct to "strive" behind to see your predictions.</p>
        <a class="btn btn-secondary" role="button" asp-area="" asp-controller="Predictor" asp-action="Sample">Use sample data</a>
        <a class="btn btn-secondary" role="button" asp-area="" asp-controller="Predictor" asp-action="Index">Strive!</a>
    </div>
</div>