﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.strive-banner {
    background-image: url('../images/triathlon-.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.strive-banner a.btn {
    color: white;
}

.bg-running {
    background-image: url('../images/wrt.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-swimming {
    background-image: url('../images/Man-swimming.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-triathlon {
    background-image: url('../images/t2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-cycling {
    background-image: url('../images/wc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}