﻿@model Strive4Tri.ViewModels.PredictorViewModel

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">Triathlon</h2>
            @if (Model.RunningPerformance != null && Model.CyclingPerformance != null && Model.SwimmingPerformance != null)
            {
                <div class="row">
                    <div class="col-md-6"><strong>Distance</strong></div>
                    <div class="col-md-6"><strong>Time</strong></div>
                </div>
                @for (var i = 0; i < Model.RunningPerformance.Count; i++)
                {
                    <div class="row">
                        <div class="col-md-6">
                            @switch (Model.RunningPerformance[i].Distance)
                            {
                                case 5:
                                    <span>Sprint</span>
                                    break;
                                case 10:
                                    <span>Olympic</span>
                                    break;
                                case 20:
                                    <span>ITU Long</span>
                                    break;
                                case 21:
                                    <span>Half Ironman</span>
                                    break;
                                case 42:
                                    <span>Ironman</span>
                                    break;
                            }
                        </div>
                        <div class="col-md-6">
                            @*ITU Long distance is the only race where swimming distance is bigger than the next distance (Half Ironman)*@
                            @if (Model.SwimmingPerformance[i].Distance == 3000)
                            {
                                @string.Format("{0:hh\\:mm\\:ss}", Model.RunningPerformance[i - 1].Time + Model.CyclingPerformance[i - 1].Time + Model.SwimmingPerformance[i].Time)
                            }
                            else if (Model.SwimmingPerformance[i].Distance == 1900)
                            {
                                @string.Format("{0:hh\\:mm\\:ss}", Model.RunningPerformance[i + 1].Time + Model.CyclingPerformance[i + 1].Time + Model.SwimmingPerformance[i].Time)
                            }
                            else
                            {
                                @string.Format("{0:hh\\:mm\\:ss}", Model.RunningPerformance[i].Time + Model.CyclingPerformance[i].Time + Model.SwimmingPerformance[i].Time)
                            }
                        </div>
                    </div>
                }
            }
            else
            {
                <p class="lead">Be somebody nobody thought you could be</p>
            }
        </div>
        <div class="bg-light shadow-sm mx-auto bg-triathlon" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Running</h2>
            @if (Model.RunningPerformance == null)
            {
                <p class="lead">Don't stop when you are tired. Stop when you are done</p>
            }
            else
            {
                <div class="row">
                    <div class="col-md-4"><strong>Distance</strong></div>
                    <div class="col-md-4"><strong>Time</strong></div>
                    <div class="col-md-4"><strong>Pace (min/km)</strong></div>
                </div>
                @foreach (var item in Model.RunningPerformance)
                {
                    <div class="row">
                        <div class="col-md-4">@string.Concat(item.Distance, "K")</div>
                        <div class="col-md-4">@string.Format("{0:hh\\:mm\\:ss}", item.Time)</div>
                        <div class="col-md-4">@string.Format("{0:mm\\:ss}", TimeSpan.FromMinutes(item.Performance))</div>
                    </div>
                }
            }
        </div>
        <div class="bg-dark shadow-sm mx-auto bg-running" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
</div>
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Cycling</h2>
            @if (Model.CyclingPerformance == null)
            {
                <p class="lead">Pain is temporary, glory lasts forever</p>
            }
            else
            {
                <div class="row">
                    <div class="col-md-4"><strong>Distance</strong></div>
                    <div class="col-md-4"><strong>Time</strong></div>
                    <div class="col-md-4"><strong>Speed (km/h)</strong></div>
                </div>
                @foreach (var item in Model.CyclingPerformance)
                {
                    <div class="row">
                        <div class="col-md-4">@string.Concat(item.Distance, "K")</div>
                        <div class="col-md-4">@string.Format("{0:hh\\:mm\\:ss}", item.Time)</div>
                        <div class="col-md-4">@string.Format("{0:0.##}", item.Performance)</div>
                    </div>
                }
            }
        </div>
        <div class="bg-dark shadow-sm mx-auto bg-cycling" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">Swimming</h2>
            @if (Model.SwimmingPerformance == null)
            {
                <p class="lead">It never gets easier, you just get faster</p>
            }
            else
            {
                <div class="row">
                    <div class="col-md-4"><strong>Distance</strong></div>
                    <div class="col-md-4"><strong>Time</strong></div>
                    <div class="col-md-4"><strong>Pace (min/100m)</strong></div>
                </div>
                @foreach (var item in Model.SwimmingPerformance)
                {
                    <div class="row">
                        <div class="col-md-4">@string.Format("{0:n0}", item.Distance)</div>
                        <div class="col-md-4">@string.Format("{0:hh\\:mm\\:ss}", item.Time)</div>
                        <div class="col-md-4">@string.Format("{0:mm\\:ss}", TimeSpan.FromMinutes(item.Performance))</div>
                    </div>
                }
            }
        </div>
        <div class="bg-light shadow-sm mx-auto bg-swimming" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
</div>
